<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center">
        <h6 class="card-title"><%= current_customer.public_name %>さんの目標総消費カロリー</h6>
        <h4 class="card-subtitle mb-2 text-muted">
          <b class = "home_calorie_disp">
            <i class="fas fa-flag-checkered"></i>
            <%= number_to_currency(target_burn_kcal, unit: " kcal", format: "%n%u", precision: 0) %>
          </b>
        </h4>
        <p class="card-text">算出式：7200[kcal/kg]　×　(現在の体重[kg] － 目標の体重[kg]) + (日常生活でのカロリー差 ×　プロジェクト期間(日数))</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-md-6 col-sm-12">
    <div class="card second-row-card">
      <div class="card-body">
        <h6 class="card-title text-center">計画消費カロリー</h6>
        <h4 class="card-subtitle mb-2 text-muted text-center">
          <b class = "home_calorie_disp">
            <i class="fas fa-chart-line"></i>
            <%= number_to_currency(plan_burn_kcal, unit: " kcal", format: "%n%u", precision: 0) %>
          </b>
        </h4>
        <p class="card-text card_annotation_fontsize">プロジェクト作成時の計画に沿って進行した場合のカロリー消費量を表示しています</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-md-6 col-sm-12">
    <div class="card second-row-card">
      <div class="card-body">
        <h6 class="card-title text-center">実績消費カロリー</h6>
        <h4 class="card-subtitle mb-2 text-muted text-center">
          <b class = "home_calorie_disp">
            <i class="fas fa-running"></i>
            <%= number_to_currency(result_burn_kcal, unit: " kcal", format: "%n%u", precision: 0) %>
          </b>
        </h4>
        <p class="card-text card_annotation_fontsize">プロジェクトの実績値に基づいたカロリー消費量を表示しています</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-md-6 col-sm-12">
    <div class="card second-row-card">
      <div class="card-body">
        <h6 class="card-title text-center">進捗率</h6>
        <h4 class="card-subtitle mb-2 text-muted text-center">
          <b class = "home_calorie_disp ">
            <% if (result_burn_kcal.to_f/plan_burn_kcal.to_f)*100 > 100 %>
              <i class="fas fa-grin-beam" style="color: blue;"></i>
              <!--<svg role="img" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" viewBox="0 0 24 24" aria-labelledby="happyFaceIconTitle" stroke="blue" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" fill="none" color="blue"> <title id="happyFaceIconTitle">Happy Face</title> <path d="M7.3010863,14.0011479 C8.0734404,15.7578367 9.98813711,17 11.9995889,17 C14.0024928,17 15.913479,15.7546194 16.6925307,14.0055328"/> <line stroke-linecap="round" x1="9" y1="9" x2="9" y2="9"/> <line stroke-linecap="round" x1="15" y1="9" x2="15" y2="9"/> <circle cx="12" cy="12" r="10"/></svg>-->
            <% elsif (result_burn_kcal.to_f/plan_burn_kcal.to_f)*100 < 70 %>
              <i class="fas fa-dizzy" style="color: red;"></i>
              <!--<svg role="img" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" viewBox="0 0 24 24" aria-labelledby="sadFaceIconTitle" stroke="red" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" fill="none" color="red"> <title id="sadFaceIconTitle">sad Face</title> <line stroke-linecap="round" x1="9" y1="9" x2="9" y2="9"/> <line stroke-linecap="round" x1="15" y1="9" x2="15" y2="9"/> <path d="M8,16 C9.33333333,15.3333333 10.6656028,15.0003822 11.9968085,15.0011466 C13.3322695,15.0003822 14.6666667,15.3333333 16,16"/> <circle cx="12" cy="12" r="10"/> </svg>-->
            <% else %>
              <i class="fas fa-smile"></i>
              <!--<svg role="img" xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" viewBox="0 0 24 24" aria-labelledby="neutralFaceIconTitle" stroke="#9400d3" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#9400d3"> <title id="neutralFaceIconTitle">Neutral Face</title> <line stroke-linecap="round" x1="9" y1="9" x2="9" y2="9"/> <line stroke-linecap="round" x1="15" y1="9" x2="15" y2="9"/> <path d="M16,15 L8,15" opacity=".9"/> <circle cx="12" cy="12" r="10"/> </svg>-->
            <% end %>
            <%= number_to_currency((result_burn_kcal.to_f/plan_burn_kcal.to_f)*100, unit: " %", format: "%n%u", precision: 0) %>
          </b>
        </h4>
        <p class="card-text card_annotation_fontsize">計画消費カロリーと実績消費カロリーから進捗率を算出しています<br>※100%を超えていれば進捗が良好であることの目安になります</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-md-6 col-sm-12">
    <div class="card second-row-card">
      <div class="card-body">
        <h6 class="card-title text-center">自然総消費カロリー/日</h6>
        <h4 class="card-subtitle mb-2 text-muted text-center">
          <b class = "home_calorie_disp">
            <i class="fas fa-heartbeat"></i>
            <%= number_to_currency(naturally_burn_calorie_perday, unit: " kcal/日", format: "%n%u", precision: 0) %>
          </b>
        </h4>
        <p class="card-text card_annotation_fontsize">基礎代謝量とプロジェクト作成時に設定した普段の活動傾向からプロジェクト外の消費カロリーを算出しています</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-md-6 col-sm-12">
    <div class="card second-row-card">
      <div class="card-body">
        <h6 class="card-title text-center">想定摂取カロリー/日</h6>
        <h4 class="card-subtitle mb-2 text-muted text-center">
          <b class = "home_calorie_disp">
            <i class="fas fa-utensils"></i>
            <%= number_to_currency(intake_calorie_perday, unit: " kcal/日", format: "%n%u", precision: 0) %>
          </b>
        </h4>
        <p class="card-text card_annotation_fontsize">プロジェクト作成時に設定した1日あたりの摂取カロリーを表示しています</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-md-6 col-sm-12">
    <div class="card second-row-card">
      <div class="card-body">
        <h6 class="card-title text-center">日常生活でのカロリー差</h6>
        <h4 class="card-subtitle mb-2 text-muted text-center">
          <b class = "home_calorie_disp">
            <%= number_to_currency(diff_calorie_perday, unit: " kcal/日", format: "%n%u", precision: 0) %>
            <!--%= number_to_currency(intake_calorie_perday - naturally_burn_calorie_perday, unit: " kcal/日", format: "%n%u", precision: 0) %>-->
          </b>
        </h4>
        <p class="card-text card_annotation_fontsize">自然総消費カロリーと想定摂取カロリーの差を表示しています<br>※0kcal前後がオーバーカロリーでないことの目安になります</p>
      </div>
    </div>
  </div>
</div>