<%= render "layouts/loadicon"%>
<div class="container">
  <div class="row justify-content-center main_contents">
    <nav class="col-11 navbar navbar-dark mypage_nav_bg_color p-1">
      <div class="container-fluid navbar-brand">
        <b>ダッシュボード</b>
      </div>
    </nav>
    <div class="col-11 content_background">
      <div class="home-contents">
        <div class="container-fluid">
          <div class="row justify-content-center select_project_area">
            <div class="col-12 text-center">
              <b><h6 style = "padding-top:10px;">【プロジェクト選択】</h6></b>
            </div>
            <div class="col-8 col-lg-4 col-md-6 col-sm-8">
              <%= form_with url: pj_alter_path, method: :get, local: false do |f| %>
                <%= f.select :project_id, options_for_select(@projects_array, @pj_pulldown_initial_set_value), {}, class: "form-control select-drop-project", required: true %>
                <div id="select-drop-submit" style="display:none;">
                  <%= f.submit %>
                </div>
              <% end %>
            </div>
            <div class="col-2 col-lg-1 col-md-2 col-sm-2">
              <div class="home_add_icon">
                <%= link_to new_project_path do %>
                  <svg role="img" xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24" aria-labelledby="addIconTitle" stroke="#9400d3" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#9400d3"> <title id="addIconTitle">新規プロジェクト作成</title> <path d="M17 12L7 12M12 17L12 7"/> <circle cx="12" cy="12" r="10"/></svg>
                <% end %>
              </div>
            </div>
          </div class = "dashboard_contents">
          <% if @projects.blank? %>
            <div class="text-center">
              プロジェクトがありません。プロジェクト作成後にダッシュボードが表示されます。
            </div>
          <% else %>
            <div class = "dashboard_contents">
              <%= render "public/homes/dashboard", {
              target_burn_kcal:               @target_burn_kcal,
              plan_burn_kcal:                 @plan_burn_kcal,
              result_burn_kcal:               @result_burn_kcal,
              naturally_burn_calorie_perday:  @naturally_burn_calorie_perday,
              intake_calorie_perday:          @intake_calorie_perday,
              diff_calorie_perday:            @diff_calorie_perday,
              weight:                         @weight,
              target_weight:                  @target_weight,
              pj_start_day:                   @pj_start_day,
              pj_finish_day:                  @pj_finish_day,
              bmr:                            @bmr,
              plan_event_counts:              @plan_event_counts,
              bmi:                            @bmi,
              normal_weight:                  @normal_weight
              }%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>