                        <%= form_with url: projects_path, method: :post do |f| %>
                          <div class="row">
                            <div class="col-12 col-lg-8 col-md-12 col-sm-12">
                              <ul class="sample1 training_select_scroll">
                                <% pj_event_details.each do |ped| %>
                                <li id="detail_<%= ped[1]["training_id"]%>">
                                  <div class="row">
                                    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                      <%= ped[1]["training_name"] %>（10分:<%= ped[1]["calorie_per_ten_min"] %>kcal)
                                    </div>
                                    <div class="col-6 col-lg-3 col-md-3 col-sm-6">
                                      <%= f.text_field :"#{ped[1]["training_id"]}", class: "form-control form-control-sm", placeholder: "時間：分" %>
                                      <span class="tooltip">イベント１回あたりのトレーニング時間（分）を入力ください</span>
                                    </div>
                                    <div class="col-4 col-lg-2 col-md-2 col-sm-4">
                                      <%=link_to pj_event_delete_training_pj_template_events_path(training_id: ped[1]["training_id"]), class: 'btn btn-sm col-12 mx-auto btn-danger font-weight-bold btn-block', remote: true do %>
                                        <i class="fas fa-trash-alt"></i>
                                      <% end %>
                                    </div>
                                  </div>
                                </li>
                                <% end %>
                              </ul>
                            </div>
                            <div class="col-12 col-lg-4 col-md-12 col-sm-12">
                              <div class="row">
                                <div class='col-12'>
                                  <%=link_to "トレーニング追加", new_pj_template_event_path, class: 'btn col-8 mx-auto btn-primary font-weight-bold btn-block', remote: true %>
                                </div>
                              </div>
                              <div class='row login_input_field login_button'>
                                <div class='col-12'>
                                  <div class="actions">
                                    <%= f.submit "PJ作成完了",class: 'btn col-8 mx-auto btn-outline-secondary font-weight-bold btn-block' %>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 text-center">
                                  <%= link_to new_wizard2_projects_path, class:"js-trigger-transition" do %>
                                    <b>前の画面に戻る</b>
                                  <% end %>
                                </div>
                              </div>
                            </div>

                          </div>
                        <% end %>