<div class='container gym-search'>
  <div class="main_contents">
    <nav class="col-12 navbar navbar-dark mypage_nav_bg_color p-1">
      <div class="container-fluid navbar-brand">
        <b>周辺ジム検索</b>
      </div>
    </nav>
    <div class="col-12 content_background">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12 justify-content-center">
              ※検索地点から半径1km圏内のジムを最大20件ピックアップします。（利用回数に制限がございます。毎日17:00にリセットされます。）
              <%= form_with url: search_search_gyms_path, method: :get do |f| %>
                <%= f.text_field :place_name, class:"search", placeholder: "地名/場所を入力ください" %>
                <%= f.button :type => "submit", class:"searchsubmit" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <h4>こちらに検索結果（施設一覧とマップ）が表示されます</h4>
            </div>
          </div>
          <div class="row justify-content-center", style="margin-top:15px;">
            <%= link_to "https://developers.google.com/maps", target: "_blank", rel: "noopener noreferrer" do %>
              <%= image_tag "powered_by_google_on_white.png" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>