<div class="simple-calendar">
  <div class="text-center" style="font-size:25px; font-weight:bold; margin-top: 5px;">
    <!--<span style="font-size: 15px;">表示中のプロジェクト：%= @project["name"] %></span>-->
    <div class="calendar-heading">
      <div class="row">
        <div class="col-12 col-lg-3 col-md-3 col-sm-12">
          <span style="font-size: 15px;">プロジェクト：<%= @project["name"] %></span>
        </div>
        <div class="col-8 col-lg-6 col-md-6 col-sm-8">
          <%= link_to t('simple_calendar.previous', default: "<<　"), calendar.url_for_previous_view %>
          <span class="calendar-title"><%= start_date.year %>年 <%= t('date.month_names')[start_date.month] %></span>
          <%= link_to t('simple_calendar.next', default: "　>>"), calendar.url_for_next_view %>
        </div>
        <div class="col-4 col-lg-3 col-md-3 col-sm-4">
          
        </div>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead class="bg-primary">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th style="color:#ffffff;"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
