<div class='container'>
  <div class='row main_contents wizard-contents'>
    <div class="col-12 content_background main_contents">
      <div class="row">
        <div class="col-12">
          <h5 class="font-weight-bold content_title"><u>新規プロジェクト作成</u></h5>
        </div>
      </div>

      <div class="row bs-wizard3" style="border-bottom:0;">
        <div class="col-4 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">基礎情報の入力</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-4 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">プロジェクト設定</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-4 bs-wizard-step active">
          <div class="text-center bs-wizard-stepnum">トレーニング設定</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="" class="bs-wizard-dot"></a>
        </div>
      </div>

       <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">

                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <!--参考情報-->
                        現在の体重　＞　目標の体重
                        <br>達成するための総消費カロリー
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <!--参考情報-->
                        イベント1回あたりの<br>推奨消費カロリー量
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <!--参考情報-->
                        現在選択している<br>トレーニングの消費カロリー量
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <!--トレーニング選択エリア-->
                        <%= form_with url: new_wizard3_projects_path, method: :get do |f| %>
                          <div class="row">

                            <div class="col-8">
                              <ul class="sample1 training_select_scroll">
                                <li>
                                  <div class="row">
                                    <div class="col-6">
                                      トレーニング１
                                    </div>
                                    <div class="col-3">
                                      <%= f.text_field :name, class: "form-control form-control-sm", placeholder: "時間：分" %>
                                    </div>
                                    <div class="col-2">
                                      <btn>削除</btn>
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div class="row">
                                    <div class="col-6">
                                      トレーニング２
                                    </div>
                                    <div class="col-3">
                                    <%= f.text_field :name, class: "form-control form-control-sm", placeholder: "時間：分" %>
                                    </div>
                                    <div class="col-2">
                                      <btn>削除</btn>
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div class="row">
                                    <div class="col-6">
                                      トレーニング３
                                    </div>
                                    <div class="col-3">
                                    <%= f.text_field :name, class: "form-control form-control-sm", placeholder: "時間：分" %>
                                    </div>
                                    <div class="col-2">
                                      <btn>削除</btn>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>

                            <div class="col-4">
                              <div class="row">
                                <div class='col-12'>
                                  <%=link_to "トレーニング追加", new_customer_registration_path, class: 'btn col-8 mx-auto btn-danger font-weight-bold btn-block' %>
                                </div>
                              </div>
                              <div class='row login_input_field login_button'>
                                <div class='col-12'>
                                  <div class="actions">
                                    <%= f.submit "PJ作成完了",class: 'btn col-8 mx-auto btn-outline-secondary font-weight-bold btn-block' %>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>