<li>
  <%= link_to customers_mypage_path do %>
    <i class="fas fa-user-circle"></i>　マイページ
  <% end %>
</li>
<li>
  <%= link_to new_project_path do %>
    <i class="fab fa-product-hunt"></i>　新規プロジェクト
  <% end %>
</li>
<li>
  <%= link_to projects_path do %>
    <i class="fas fa-tasks"></i>　プロジェクト一覧
  <% end %>
</li>
<li>
  <%= link_to callender_path(id: current_customer.id) do %>
    <i class="fas fa-calendar-alt"></i>　プロジェクトカレンダー
  <% end %>
</li>
<li>
  <%= link_to record_path(id: current_customer.id) do %>
    <i class="fas fa-chart-line"></i>　記録
  <% end %>
</li>
<li>
  <%= link_to records_path do %>
    <i class="fas fa-dumbbell"></i>　トレーニング一覧
  <% end %>
</li>
<li>
  <%= link_to search_gyms_path do %>
    <i class="fas fa-search-location"></i>　ジム検索
  <% end %>
</li>
<li>
  <%= link_to columns_path do %>
    <i class="fas fa-columns"></i>　コラム
  <% end %>
</li>
<li>
  <%= link_to destroy_customer_session_path, method: :delete do %>
    <i class="fas fa-sign-in-alt"></i>　ログアウト
  <% end %>
</li>