<!DOCTYPE html>
<html>
  <head>
    <title>ForDiaiter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= include_gon %>
    <%= favicon_pack_tag 'favicon-32x32.ico' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="Contents">
    <%= render 'layouts/public/header' %>
    <main>
      <div id="notice"><%= notice %></div>
      <div id="alert"><%= alert %></div>
      <%= yield %>
    </main>
    <%= render 'layouts/public/footer' %>
  </body>
</html>
