<div id="event-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
</div>
<h3>イベントカレンダー</h3>
<div class='container'>
  <div class='row justify-content-center'>
    <div class="col-12 col-lg-10 col-md-12 col-sm-12">
      <% if @pj_events.blank? %>
        <div class="text-center">
          <h5>プロジェクト登録後にご利用いただけます</h5>
        </div>
      <% else %>
        <%= month_calendar events: @pj_events do |date, pj_events| %>
          <%= date.day %>
          <% pj_events.each.with_index(1) do |pj_event, i| %>
            <%= link_to edit_callender_path(pj_event_id: pj_event.id), remote: true do %>
              <div class="card cards">
                <div class="card-body">
                <!--%= i %>-->
                <b>
                  <%= "イベント" %>
                  <%= "("+"#{pj_event.action_day.strftime("%m/%d")}"+")" %>
                </b>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
