<div id="event-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
</div>
<div class="container event-callender main_contents ">
  <div class="row main_contents justify-content-center">
    <nav class="col-12 col-lg-10 col-md-12 col-sm-12 navbar navbar-dark mypage_nav_bg_color p-1">
      <div class="container-fluid navbar-brand">
        <b>プロジェクトカレンダー</b>
      </div>
    </nav>
    <div class='container'>
      <div class='row justify-content-center '>
        <div class="col-12 col-lg-10 col-md-12 col-sm-12 content_background main_contents">
          <% if @pj_events.blank? %>
            <div class="text-center">
              <h5>プロジェクト登録後にご利用いただけます</h5>
            </div>
          <% else %>
            <%= month_calendar events: @pj_events do |date, pj_events| %>
              <%= date.day %>
              <% pj_events.each.with_index(1) do |pj_event, i| %>
                <%= link_to edit_callender_path(pj_event_id: pj_event.id), remote: true do %>
                  <div class="card cards">
                    <div class="card-body text-center">
                    <b>
                      <%= "イベント " %><i class="fas fa-running"></i><br>
                      <%= "("+"#{pj_event.action_day.strftime("%m/%d")}"+")" %>
                    </b>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
