<div class='container'>
  <div class='row' style = "margin-top: 50px;">
    <div class="col-12">
      <%= devise_error_messages! %>
      <div class="text-center">
        <h5 class="login_content_title"><b>アカウントをお持ちの方</b></h5>
    	</div>
    	<div class="container login-form fadeUp">
    		<div class="row main">
    		  <div class="col-12">
      			<div class="main-login main-center">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      					<div class="form-group">
      						<div class="cols-sm-2 control-label">
      						  <%= f.label :メールアドレス %>
      						</div>
      						<div class="cols-sm-10">
      							<div class="input-group">
      								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
      								<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      							</div>
      						</div>
      					</div>

      					<div class="form-group">
      						<div class="cols-sm-2 control-label">
      						  <%= f.label :パスワード %>
      						</div>
      						<div class="cols-sm-10">
      							<div class="input-group">
      								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
      								<%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: "form-control" %>
      							</div>
      						</div>
      					</div>
      					<div class="form-group">
      					  <%= f.submit "ログイン",class: 'btn btn-lg btn-primary col-10 mx-auto font-weight-bold btn-block login-button', style: "background: #dcdcdc; color: #696969; font-size:15px;" %>
      					</div>
              <% end %>
      			</div>
      		</div>
    		</div>
    	</div>
      <div class="row text-center">
        <div class="col-12">
          <div class="login_sign_up_nav_area">
            <h6 class="login_content_title"><b>アカウント登録がお済でない方</b></h6>
            <%= render "public/shared/links" %>から新規登録してください
          </div>
        </div>
      </div>
    </div>
  </div>
</div>