<div class='container'>
  <div class='row justify-content-center' style = "margin-top: 50px; margin-left: 50px;">
    <div class="col-6">
      <%= devise_error_messages! %>
      <div class='row'>
        <h4 class= "login_content_title"><b>ログイン</b></h4>
      </div>
      <h6 class="login_content_title"><b>アカウントをお持ちの方はこちらからログイン</b></h6>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class='row login_input_field'>
              <span class="col-4">
                <%= f.label :メールアドレス %>
              </span>
              <span class="col-6">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </span>
            </div>
          </div>
          <div class="field">
            <div class='row login_input_field'>
              <span class="col-4">
                <%= f.label :パスワード %>
              </span>
              <span class="col-6">
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </span>
            </div>
          </div>
          <div class="actions col-10 login_button">
            <%= f.submit "ログイン",class: 'btn col-6 mx-auto btn-outline-secondary font-weight-bold btn-block' %>
          </div>
        <% end %>
      <div class="login_sign_up_nav_area">
        <h6 class="login_content_title"><b>アカウント登録がお済でない方</b></h6>
        <div class='row'>
          <div class='col-md-10'>
          <%= render "public/shared/links" %>から新規登録してください
          </div>
        </div>
      </div>
    </div>
  </div>
</div>